<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feedback</title>
    <link th:href="@{/vendor/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/solid.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/brands.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/flagiconcss/css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{/css/master.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div class="wrapper">
    <th:block th:replace="~{fragment/sidebar_admin :: ${sidebar}}"></th:block>
    <div id="body" class="active">
        <th:block th:replace="~{fragment/navbar_admin :: ${navbar}}"></th:block>

        <div class="content">
            <div class="container">
                <div class="row" style="margin-bottom: 20px">
                    <form th:action="@{/feedback/}"   class="col-4 input-group" style="width: 400px; margin-top: 30px; margin-left: 0px">
                        <input type="text" name="name"  class="form-control rounded" placeholder="Search" maxlength="50" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-secondary">search</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">feedback list</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Mã</th>
                                            <th>Họ Tên</th>
                                            <th>Nội Dung</th>
                                            <th>EMAIL</th>
                                            <th>SDT</th>
                                            <th>Ngày Gửi</th>
                                            <th> </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="feedback : ${feedback}" class="itemFeedback">
                                            <th scope="row" th:text="*{feedback.maFeedback}"></th>
                                            <td th:text="*{feedback.tenNguoiGui}"></td>
                                            <td th:text="*{feedback.noiDung}"></td>
                                            <td th:text="*{feedback.email}"></td>
                                            <td th:text="*{feedback.soDT}"></td>
                                            <td th:text="*{feedback.dateCreatedl}"></td>
                                            <th>
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                                    <a class="btn btn-danger deleteFeedbackBtn" title="Delete">Del</a>
                                                </div>
                                            </th>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <ul class="pagination">
                                        <li th:class="${1== feedback.number +1 } ? 'page-item active' :'page-item'">
                                            <a th:href="@{/feedback/(name=${name}, size=${feedback.size},page=${0})}" class="page-link">First</a>
                                        </li>

                                        <li class="page-item active"
                                            th:each="pageNumber : ${pageNumber}"
                                            th:if="${feedback.totalPages >1}"
                                            th:class="${pageNumber == feedback.number +1} ? 'page-item active' : 'page-item'">
                                            <a th:href="@{/feedback/(name=${name}, size=${feedback.size},page=${pageNumber - 1})}" class="page-link" th:text="${pageNumber}"></a>
                                        </li>


                                        <li th:class="${feedback.totalPages == feedback.number +1 } ? 'page-item active' :'page-item'">
                                            <a th:href="@{/feedback/(name=${name}, size=${feedback.size},page=${feedback.totalPages - 1})}" class="page-link">Last</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
<script>



         // Delete button
        $(".deleteFeedbackBtn").click(function() {
            //get infor of student to delete here
            if (confirm("Do you want to delete feedback id: " + $(this).parent().parent().parent().first().children().first().text())) {
                $(this).parent().parent().parent().remove();
                $.ajax({
                    url: "http://localhost:8080/feedback/{id} (id=${feedback.maFeedback})" + $(this).parent().parent().parent().first().children().first().text()  ,
                    success: function(response) {
                        //do something @{/feedback/{id} (id=${feedback.maFeedback})}
                    },
                    error: function(xhr) {
                        //Do Something to handle error
                    }
                });
            }
        });



</script>

</html>