<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feedback</title>
    <link th:href="@{/vendor/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/solid.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/brands.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/flagiconcss/css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{/css/master.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div class="wrapper">
    <th:block th:replace="~{fragment/sidebar_admin :: ${sidebar}}"></th:block>
    <div id="body" class="active">
        <th:block th:replace="~{fragment/navbar_admin :: ${navbar}}"></th:block>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">feedback list</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Mã</th>
                                            <th>Họ Tên</th>
                                            <th>Nội Dung</th>
                                            <th>EMAIL</th>
                                            <th>SDT</th>
                                            <th>Ngày Gửi</th>
                                            <th> </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="feedback : ${feedback}">
                                            <th scope="row" th:text="*{feedback.maFeedback}"></th>
                                            <td th:text="*{feedback.tenNguoiGui}"></td>
                                            <td th:text="*{feedback.noiDung}"></td>
                                            <td th:text="*{feedback.email}"></td>
                                            <td th:text="*{feedback.soDT}"></td>
                                            <td th:text="*{feedback.dateCreatedl}"></td>
                                            <th>
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                                    <a th:href="@{/feedback/{id} (id=${feedback.maFeedback})}" class="btn btn-danger deleteStudentBtn" title="Delete">Del</a>
                                                </div>
                                            </th>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
<script>


</script>

</html>