<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login </title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/auth.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div class="wrapper">
    <div class="auth-content">
        <div class="card">
<!--            <div class="row" style="margin-bottom: 20px">-->
<!--                <form  th:action="@{/feedback/{keyword}(keyword = ${keyword})}" class="col-4 input-group" style="width: 400px; margin-top: 30px; margin-left: 0px">-->
<!--                    <input type="search" name="keyword"  class="form-control rounded" placeholder="Search" maxlength="50" aria-label="Search" aria-describedby="search-addon" />-->
<!--                    <button th:field="*{keyword}" type="submit" class="btn btn-secondary">Search</button>-->
<!--                </form>-->
<!--            </div>-->
            <div class="card-body text-center" style="width: 40%; text-align: center; margin: 0 auto;">
                <div class="mb-4">
                    <img class="brand" th:src="@{/img/bootstraper-logo.png}" alt="bootstraper logo">
                </div>
                <h6 class="mb-4 text-muted">Login to your account</h6>
                <form id="loginForm" th:object="${loginRequest}" th:action="@{/auth/login}" method="post">
                    <div class="mb-3 text-start">
                        <label th:for="email" class="form-label">Username</label>
                        <input th:field="*{username}" id="username" type="text" class="form-control" placeholder="Enter username" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label th:for="password" class="form-label">Password</label>
                        <input th:field="*{password}" id="password" type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="mb-3 text-start">
                        <div class="form-check">
                            <input class="form-check-input" name="remember" type="checkbox" value="" id="check1">
                            <label class="form-check-label" for="check1">
                                Remember me on this device
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary shadow-2 mb-4">Login</button>
                </form>
                <p class="mb-2 text-muted">Forgot password? <a href="#">Contact</a></p>
            </div>
        </div>
    </div>
</div>
<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
</body>
<script>
    $(document).ready(function() {
        $("#loginForm").submit(function(e){
            //validate form before submitting here
            if ($("#username").val().length <= 4 || $("#password").val().length <= 3){
                alert("Username hoặc pasword không hợp lệ!");
                return false;
            }
            return true;
        });

    });
</script>
</html>