
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ViewBlog</title>
    <link th:href="@{/vendor/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/solid.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/brands.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/flagiconcss/css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{/css/master.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
</head>

<body>
<div class="wrapper">
    <!-- SIDEBAR -->
    <th:block th:replace="~{fragment/sidebar_admin :: ${sidebar}}"></th:block>
    <div id="body" class="active">
        <!-- navbar navigation component -->
        <th:block th:replace="~{fragment/navbar_admin :: ${navbar}}"></th:block>

        <!-- end of navbar navigation -->
        <!-- end of navbar navigation -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page-header">
                        <div class="page-pretitle">Overview</div>
                        <h2> ------ </h2>
                    </div>
                </div>
                <div class="row" th:object="${blog}">
                    <h1 style="font-weight:bold" th:text="*{title}"></h1>
                    <h3 th:text="*{description}"></h3>
                    <img width="100%" style="display: block; margin: auto;" th:src="*{thumbnail}" alt="thumbnailImg">
                    <p th:text="*{content}" id="blogContent" style="margin: 30px; display: none"></p>
                    <div id="convertBlogContent"></div>
                    <h4 th:text="*{author}" style="text-align: right;"></h4>
                    <h5 th:text="*{dateCreated}" style="text-align: right;"></h5>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
    ClassicEditor
        .create( document.querySelector( '#editorUpdate' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>

    $(document).ready(function() {

        //convert textarea to html
        var content = $("#blogContent").text();
        $("#convertBlogContent").html(content);

        $("#showText").click(function() {
            var thought = jQuery("textarea#editorUpdate").val();
            console.log(thought);
            alert(thought);
        })
        $("#insertForm").hide();
        $("#updateForm").hide();
        $("#addBlogBtn").click(function() {
            $("#updateForm").hide();
            $("#insertForm").toggle(500);
        });

        $(".updateBlogBtn").click(function() {
            $("#insertForm").hide();
            $("#updateForm").show(100);
            $("#idUpdate").val($(this).parent().parent().parent().first().children().first().text());
            $("#showIdUpdate").hide();
            $("#titleUpdate").val($(this).parent().parent().parent().first().children().first().next().text());
            $("#descriptionUpdate").val($(this).parent().parent().parent().first().children().first().next().next().text());
            $("#categoryUpdate").val($(this).parent().parent().parent().first().children().first().next().next().next().text());
            $("#authorUpdate").val($(this).parent().parent().parent().first().children().first().next().next().next().next().next().text());
        });

        // Delete button
        $(".deleteBlogBtn").click(function() {
            //get infor of  Blog to delete here
            if (confirm("Do you want to delete  Blog id: " + $(this).parent().parent().parent().first().children().first().text())) {
                $(this).parent().parent().parent().remove();
                $.ajax({
                    url: "http://localhost:8080/blog/deleteBlog?id=" + $(this).parent().parent().parent().first().children().first().text()  ,
                    success: function(response) {
                        //do something

                    },
                    error: function(xhr) {
                        //Do Something to handle error
                    }
                });
            }
        });

        $("#cancelUpdate").click(function (){
            $("#updateForm").hide();
        });
        $("#cancelInsert").click(function (){
            $("#insertForm").hide();
        });


    });
</script>

</html>