<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin's Dashboard</title>
    <link th:href="@{/vendor/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/solid.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/brands.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/flagiconcss/css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{/css/master.css}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <!-- SIDEBAR -->
    <th:block th:replace="~{fragment/sidebar_admin :: ${sidebar}}"></th:block>

    <div id="body" class="active">
        <!-- navbar navigation component -->
        <th:block th:replace="~{fragment/navbar_admin :: ${navbar}}"></th:block>
        <!-- Content       -->
        <th:block th:replace="~{content/dashboard :: ${dashboard}}"></th:block>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chartsjs/Chart.min.js}"></script>
<script th:src="@{/js/dashboard-charts.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>

</html>