<!-- Footer -->
<footer
        class="text-center text-lg-start text-white"
        style="background-color: #c60c0c"
>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h3 class="text-uppercase mb-4 font-weight-bold">
                        MẦM NON CẦU VÒNG NHỎ
                    </h3>
                    <p class="text-f">
                        “A child must know that he is a miracle, that since the beginning of the world there hasn’t been, and until the end of the world there will not be, another child like him."
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h3 class="text-uppercase mb-4 font-weight-bold">Chương trình học</h3>
                    <p class="text-f">
                        <a class="text-white">PRE NURSERY 12 – 24</a>
                    </p>
                    <p class="text-f">
                        <a class="text-white">NURSERY 24 – 36</a>
                    </p>
                    <p class="text-f">
                        <a class="text-white">PRE SCHOOL 3 – 4 </a>
                    </p>
                    <p class="text-f">
                        <a class="text-white">PRE KINDER 4 – 5</a>
                    </p>
                    <p class="text-f">
                        <a class="text-white">PRE KINDER 5 – 6</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h3 class="text-uppercase mb-4 font-weight-bold">
                        Useful links
                    </h3>
                    <p class="text-f">
                        <a href="/client/blog_thongbao" class="text-white">Thông tin - tin tức</a>
                    </p>
                    <p class="text-f">
                        <a href="/client/tuvan" class="text-white">Đăng kí tuyển sinh</a>
                    </p>
                    <p class="text-f">
                        <a href="/client/gioithieu" class="text-white">Về chúng tôi</a>
                    </p>
                    <p class="text-f">
                        <a href="/client/contact" class="text-white">Help</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h3 class="text-uppercase mb-4 font-weight-bold">Contact</h3>
                    <p class="text-f">
                        <i class="fas fa-home mr-3"></i> M4-88, Khu biệt thự Manhattan Glory Vinhomes Grand Park, Nguyễn
                        Xiển, Long Bình, Quận 9, TP. Thủ Đức
                    </p>
                    <p class="text-f">
                        <i class="fas fa-envelope mr-3"></i> hantt.dongtien@gmail.com
                    </p>
                    <p class="text-f">
                        <i class="fas fa-phone mr-3"></i> + 0906 993 262
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3" />

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <!-- Copyright -->
                    <div class="p-3">
                        © 2020 Copyright:
                        <a class="text-white"
                        >MDBootstrap.com</a
                        >
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                    <a
                            th:href="@{/}"
                            href="https://www.facebook.com/Mamnoncauvongnho.edu.vn"
                            class="btn btn-outline-light btn-floating m-1 text-white"
                            role="button"
                    ><i class="fab fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
                    <a
                            class="btn btn-outline-light btn-floating m-1 text-white"
                            role="button"
                    ><i class="fab fa-twitter"></i
                    ></a>

                    <!-- Google -->
                    <a
                            class="btn btn-outline-light btn-floating m-1 text-white"
                            role="button"
                    ><i class="fab fa-google"></i
                    ></a>

                    <!-- Instagram -->
                    <a
                            class="btn btn-outline-light btn-floating m-1 text-white"
                            role="button"
                    ><i class="fab fa-instagram"></i
                    ></a>
                </div>
                <!-- Grid column -->
            </div>
        </section>
        <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
</footer>