<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img th:src="@{/img/bootstraper-logo.png}" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a th:href="@{/}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a th:href="@{/student/}"><i class="fas fa-user-friends"></i> Student</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-chalkboard-teacher"></i> Class</a>
        </li>
        <li>
            <a href="POstudent.html"><i class="fas fa-user-clock"></i> PO Student</a>
        </li>
        <li>
            <a th:href="@{/giaovien/}"><i class="fas fa-user-tie"></i> Teacher</a>
        </li>
        <li>
            <a th:href="@{/blog/}"><i class="fas fa-blog"></i> Blog</a>
        </li>
        <li>
            <a th:href="@{/class/}"><i class="fas fa-clipboard"></i> Class management</a>
        </li>
        <li>
            <a th:href="@{/customer/}"><i class="fas fa-user-plus"></i> Customer management</a>
        </li>
        <li>
            <a th:href="@{/tkb/}"><i class="fas fa-chess-board"></i> TKB management</a>
        </li>
        <li>
            <a th:href="@{/cth/}"><i class="fas fa-boxes"></i> CTH management</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-user-circle"></i> Account</a>
        </li>
    </ul>
</nav>